<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Firma Electrónica</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="./css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <script src="./lib/autosize-input.js"></script>
    <script type="module">
      import { createApp } from "https://unpkg.com/vue@3.0.6/dist/vue.esm-browser.js";

      const App = {
        data() {
          return {
            base: window.location.toString().replace("index.html", ""),
            primary: "#00A950",
            primaryTransparent: "#09ab4c11",
            secondary: "#ebe300",
            email: "natalia.tatian@tiendapodium.com.ar",
            name: "Natalia Tatián",
            role: "Socia",
            number: "351 - 2701718",
          };
        },
        computed: {
          variables() {
            return {
              "--primary": this.primary,
              "--primary-transparent": this.primaryTransparent,
              "--secondary": this.secondary,
            };
          },
          normalizedNumber() {
            return this.number.replace(/\D/gim, "");
          },
        },
        methods: {
          copyElementToClipboard(element) {
            window.getSelection().removeAllRanges();
            let range = document.createRange();
            range.selectNode(
              typeof element === "string"
                ? document.querySelector(element)
                : element
            );
            window.getSelection().addRange(range);
            document.execCommand("copy");
            window.getSelection().removeAllRanges();
          },
        },
        mounted() {
          [...document.querySelectorAll(".reply input")].forEach((input) =>
            autosizeInput(input, { minWidth: true })
          );
        },
      };

      createApp(App).mount("body");
    </script>
  </head>

  <body>
    <section id="app" :style="variables">
      <section class="background">
        <section class="content">
          <section class="email" id="pepe">
            <section class="header">
              <section class="profile-picture">
                <img :src="`${base}/img/eon.png`" />
              </section>
              <section class="info">
                <h1>¡Tu firma electrónica está casi lista!</h1>
                <h2><b>De:</b> soporte@grupoeon.com.ar</h2>
                <h2><b>Para:</b> {{ email }}</h2>
              </section>
            </section>
            <section class="content">
              Hola <b>{{ name }}</b>,<br />
              <br />
              Queríamos darte la bienvenida a tu firma electrónica.<br />
              <br />
              Desde acá vas a poder generar firmas electrónicas para tus
              distintos correos electrónicos, para copiarlas y pegarlas en tu
              cliente de correo favorito.<br />
              <br />
              <small>
                <b>Aclaración importante:</b>
                Recordá que no todos los proveedores de correo electrónico
                (Gmail, Outlook) respetan las mismas reglas de estilo, es
                posible que encuentres diferencias entre uno y otro al pegar la
                firma electrónica.
              </small>
            </section>
            <section class="reply">
              <section class="info">
                <h2><b>De:</b> {{ email }}</h2>
                <h2><b>Para:</b> soporte@grupoeon.com.ar</h2>
              </section>
              <hr />
              <section class="content">
                ¡Muchas gracias! Ahora la configuro..<br />
                <br />
                Mi nombre es <input type="text" v-model="name" />, mi correo
                electrónico es <input type="text" v-model="email" />, mi número
                de teléfono es <input type="text" v-model="number" /> y soy
                <input type="text" v-model="role" /> en la empresa.
              </section>
              <table
                id="signature"
                style="
                  width: 450px;
                  height: 130px;
                  border-collapse: collapse;
                  border: 3px solid #000000;
                  font-family: Arial !important;
                "
                border="0"
                cellpadding="0"
                cellspacing="0"
              >
                <tr>
                  <td
                    style="
                      width: 215px;
                      background: #ffffff;
                      text-align: center;
                      vertical-align: middle;
                    "
                  >
                    <img style="width: 140px" :src="`${base}/img/logo.png`" />
                  </td>
                  <td
                    style="
                      width: 59px;
                      vertical-align: baseline;
                      line-height: 0;
                      background-color: black;
                    "
                  >
                    <img
                      :src="`${base}/img/separator.png`"
                      style="
                        height: 100%;
                        display: inline-block;
                        margin-left: -1px;
                      "
                    />
                  </td>
                  <td
                    style="
                      width: 176px;
                      background: #000000;
                      color: white;
                      padding: 0.25rem 1rem;
                      font-size: 13px;
                    "
                  >
                    <h1
                      style="
                        color: white;
                        margin: 0;
                        font-size: 16px;
                        text-transform: uppercase;
                        line-height: 1em;
                      "
                    >
                      {{ name }}
                    </h1>
                    <h2
                      class="role"
                      style="
                        margin: 0;
                        margin-bottom: 10px;
                        font-size: 14px;
                        font-weight: normal;
                        text-transform: capitalize;
                        line-height: 1em;
                      "
                    >
                      {{ role }}
                    </h2>
                    <table
                      style="padding: 0; margin: 0; border-collapse: collapse"
                      cellpadding="0"
                      cellmargin="0"
                      border="0"
                    >
                      <tr>
                        <td>
                          <a
                            style="
                              color: white;
                              text-decoration: none;
                              margin-bottom: 2px;
                              line-height: 1em;
                              display: block;
                            "
                            href="https://tiendapodium.com.ar"
                          >
                            <img
                              :src="`${base}/img/internet.png`"
                              style="width: 12px; height: 12px"
                            />
                            tiendapodium.com.ar
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a
                            style="
                              color: white;
                              text-decoration: none;
                              margin-bottom: 2px;
                              line-height: 1em;
                              display: block;
                            "
                            href="https://www.instagram.com/tiendapodium/"
                          >
                            <img
                              :src="`${base}/img/instagram.png`"
                              style="width: 12px; height: 12px"
                            />
                            tiendapodium
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a
                            style="
                              color: white;
                              text-decoration: none;
                              margin-bottom: 2px;
                              line-height: 1em;
                              display: block;
                            "
                            href="https://www.facebook.com/TiendaPodium/"
                          >
                            <img
                              :src="`${base}/img/facebook.png`"
                              style="width: 12px; height: 12px"
                            />
                            Tienda Podium
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a
                            style="
                              color: white;
                              text-decoration: none;
                              line-height: 1em;
                              display: block;
                            "
                            :href="`https://wa.me/54${normalizedNumber}`"
                          >
                            <img
                              :src="`${base}/img/whatsapp.png`"
                              style="width: 12px; height: 12px"
                            />
                            {{ number }}
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <span></span>
              <button
                type="button"
                @click="copyElementToClipboard('#signature')"
              >
                Copiar firma
              </button>
            </section>
          </section>
        </section>
      </section>
    </section>
  </body>
</html>
